<section class="benefits">
  <h2>Benefits</h2>
  <ul class="benefits-grid">
    <li class="benefit-item">
      <div class="card">
        <div class="card-inner">
          <!-- Front side of the card -->
          <div class="card-front">
            <img
              srcset="
                ./img/benefits/benefits_1_desk.jpg,
                ./img/benefits/benefits_1_desk.jpg@2x 2x
              "
              alt="Engaging Puzzles"
              width="296"
              height="232"
            />
            <div class="benefit-text">Engaging Puzzles</div>
          </div>
          <!-- Back side of the card -->
          <div class="card-back">
            <p>Solve fun and challenging match-3 puzzles to progress.</p>
          </div>
        </div>
      </div>
    </li>

    <li class="benefit-item">
      <div class="card">
        <div class="card-inner">
          <div class="card-front">
            <img
              srcset="
                ./img/benefits/benefits_2_desk.jpg,
                ./img/benefits/benefits_2_desk.jpg@2x 2x
              "
              alt="Cafe Renovation"
            />
            <div class="benefit-text">Cafe Renovation</div>
          </div>
          <div class="card-back">
            <p>
              Transform an old cafe into a vibrant, stylish dining destination.
            </p>
          </div>
        </div>
      </div>
    </li>

    <li class="benefit-item">
      <div class="card">
        <div class="card-inner">
          <div class="card-front">
            <img
              srcset="
                ./img/benefits/benefits_3_desk.jpg,
                ./img/benefits/benefits_3_desk.jpg@2x 2x
              "
              alt="Charming Storyline"
            />
            <div class="benefit-text">Charming Storyline</div>
          </div>
          <div class="card-back">
            <p>
               Immerse yourself in a heartwarming tale filled with surprises.
            </p>
          </div>
        </div>
      </div>
    </li>

    <li class="benefit-item">
      <div class="card">
        <div class="card-inner">
          <div class="card-front">
            <img
              srcset="
                ./img/benefits/benefits_4_desk.jpg,
                ./img/benefits/benefits_4_desk.jpg@2x 2x
              "
              alt="Castomizable Designs"
            />
            <div class="benefit-text">Castomizable Designs</div>
          </div>
          <div class="card-back">
            <p>Personalize your cafe with unique decor and furnishings.</p>
          </div>
        </div>
      </div>
    </li>

    <li class="benefit-item no-flip">
      <div class="card">
        <div class="card-inner">
          <div class="card-front">
            <img
              srcset="
                ./img/benefits/benefits_logo.png,
                ./img/benefits/benefits_logo.png@2x 2x
              "
              alt="Logo"
            />
          </div>
          <div class="card-back"></div>
        </div>
      </div>
    </li>
    <li class="benefit-item">
      <div class="card">
        <div class="card-inner">
          <div class="card-front">
            <img
              srcset="
                ./img/benefits/benefits_5_desk.jpg,
                ./img/benefits/benefits_5_desk.jpg@2x 2x
              "
              alt="Frequent Updates"
            />
            <div class="benefit-text">Frequent Updates</div>
          </div>
          <div class="card-back">
            <p>Enjoy new puzzles, themes, and story content regularly.</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
