<section id="faq" class="faq-section section">
  <div class="faq-container container">
    <h2 class="faq-title title">FAQ</h2>

    <ul class="faq-list">
      <li class="faq-item">
        <div class="faq-question">
          <p>How do I play Grand Cafe Story?</p>
          <button class="faq-btn js-faq-btn" type="button">
            <svg class="faq-icon-btn" width="30" height="30">
              <use href="/img/sprite.svg#icon-arrow-circled"></use>
            </svg>
          </button>
        </div>
        <div class="faq-answer">
          <p class="faq-answer-text">
            Download the game from the Play Store, solve match-3 puzzles, and
            renovate your cafe.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <div class="faq-question">
          <p>Is the game free?</p>
          <button class="faq-btn js-faq-btn" type="button">
            <svg class="faq-icon-btn" width="30" height="30">
              <use href="/img/sprite.svg#icon-arrow-circled"></use>
            </svg>
          </button>
        </div>
        <div class="faq-answer">
          <p class="faq-answer-text">
            Yes, the game is free with optional in-app purchases for boosters
            and additional lives.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <div class="faq-question">
          <p>Can I play offline?</p>
          <button class="faq-btn js-faq-btn" type="button">
            <svg class="faq-icon-btn" width="30" height="30">
              <use href="/img/sprite.svg#icon-arrow-circled"></use>
            </svg>
          </button>
        </div>
        <div class="faq-answer">
          <p class="faq-answer-text">
            Yes, you can enjoy Grand Cafe Story without an internet connection.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <div class="faq-question">
          <p>How often is new content added?</p>
          <button class="faq-btn js-faq-btn" type="button">
            <svg class="faq-icon-btn" width="30" height="30">
              <use href="/img/sprite.svg#icon-arrow-circled"></use>
            </svg>
          </button>
        </div>
        <div class="faq-answer">
          <p class="faq-answer-text">
            Regular updates bring fresh puzzles, decor, and story chapters.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <div class="faq-question">
          <p>Are there rewards for completing levels?</p>
          <button class="faq-btn js-faq-btn" type="button">
            <svg class="faq-icon-btn" width="30" height="30">
              <use href="/img/sprite.svg#icon-arrow-circled"></use>
            </svg>
          </button>
        </div>
        <div class="faq-answer">
          <p class="faq-answer-text">
            Absolutely! Earn stars, coins, and exclusive items to enhance your
            cafe.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
