<section id="gallery" class="gallery-section section">
  <div class="gallery-container">
    <h2 class="title">Gallery</h2>

    <div class="swiper gallery-swiper">
      <ul class="swiper-wrapper gallery-list">
        <li class="swiper-slide gallery-list-item">
          <picture class="gallery-picture js-gallery-picture">
            <source
              srcset="
                ./img/gallery/mobile-small/gallery-1.jpg     1x,
                ./img/gallery/mobile-small/gallery-1-@2x.jpg 2x
              "
              media="(max-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/desktop/gallery-1.jpg     1x,
                ./img/gallery/desktop/gallery-1-@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="../img/gallery/mobile-small/gallery-1.jpg"
              alt="game's picture"
              draggable="false"
            />
          </picture>

          <img
            class="gallery-opened-image"
            src="./img/gallery/mobile-opened/gallery-1.jpg"
            alt="opened image"
            srcset="
              ./img/gallery/mobile-opened/gallery-1.jpg     1x,
              ./img/gallery/mobile-opened/gallery-1-@2x.jpg 2x
            "
          />
        </li>

        <li class="swiper-slide gallery-list-item">
          <picture class="gallery-picture js-gallery-picture">
            <source
              srcset="
                ./img/gallery/mobile-small/gallery-2.jpg     1x,
                ./img/gallery/mobile-small/gallery-2-@2x.jpg 2x
              "
              media="(max-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/desktop/gallery-2.jpg     1x,
                ./img/gallery/desktop/gallery-2-@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="./img/gallery/mobile-small/gallery-2.jpg"
              alt="game's picture"
              draggable="false"
            />
          </picture>

          <img
            class="gallery-opened-image"
            src="./img/gallery/mobile-opened/gallery-2.jpg"
            alt="opened image"
            srcset="
              ./img/gallery/mobile-opened/gallery-2.jpg     1x,
              ./img/gallery/mobile-opened/gallery-2-@2x.jpg 2x
            "
          />
        </li>

        <li class="swiper-slide gallery-list-item">
          <picture class="gallery-picture js-gallery-picture">
            <source
              srcset="
                ./img/gallery/mobile-small/gallery-3.jpg     1x,
                ./img/gallery/mobile-small/gallery-3-@2x.jpg 2x
              "
              media="(max-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/desktop/gallery-3.jpg     1x,
                ./img/gallery/desktop/gallery-3-@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="./img/gallery/mobile-small/gallery-3.jpg"
              alt="game's picture"
              draggable="false"
            />
          </picture>

          <img
            class="gallery-opened-image"
            src="./img/gallery/mobile-opened/gallery-3.jpg"
            alt="opened image"
            srcset="
              ./img/gallery/mobile-opened/gallery-3.jpg     1x,
              ./img/gallery/mobile-opened/gallery-3-@2x.jpg 2x
            "
          />
        </li>

        <li class="swiper-slide gallery-list-item">
          <picture class="gallery-picture js-gallery-picture">
            <source
              srcset="
                ./img/gallery/mobile-small/gallery-4.jpg     1x,
                ./img/gallery/mobile-small/gallery-4-@2x.jpg 2x
              "
              media="(max-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/desktop/gallery-4.jpg     1x,
                ./img/gallery/desktop/gallery-4-@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="./img/gallery/mobile-small/gallery-4.jpg"
              alt="game's picture"
              draggable="false"
            />
          </picture>

          <img
            class="gallery-opened-image"
            src="./img/gallery/mobile-opened/gallery-4.jpg"
            alt="opened image"
            srcset="
              ./img/gallery/mobile-opened/gallery-4.jpg     1x,
              ./img/gallery/mobile-opened/gallery-4-@2x.jpg 2x
            "
          />
        </li>

        <li class="swiper-slide gallery-list-item">
          <picture class="gallery-picture js-gallery-picture">
            <source
              srcset="
                ./img/gallery/mobile-small/gallery-5.jpg     1x,
                ./img/gallery/mobile-small/gallery-5-@2x.jpg 2x
              "
              media="(max-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/desktop/gallery-5.jpg     1x,
                ./img/gallery/desktop/gallery-5-@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="./img/gallery/mobile-small/gallery-5.jpg"
              alt="game's picture"
              draggable="false"
            />
          </picture>

          <img
            class="gallery-opened-image"
            src="./img/gallery/mobile-opened/gallery-5.jpg"
            alt="opened image"
            srcset="
              ./img/gallery/mobile-opened/gallery-5.jpg     1x,
              ./img/gallery/mobile-opened/gallery-5-@2x.jpg 2x
            "
          />
        </li>

        <li class="swiper-slide gallery-list-item">
          <picture class="gallery-picture js-gallery-picture">
            <source
              srcset="
                ./img/gallery/mobile-small/gallery-6.jpg     1x,
                ./img/gallery/mobile-small/gallery-6-@2x.jpg 2x
              "
              media="(max-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/desktop/gallery-6.jpg     1x,
                ./img/gallery/desktop/gallery-6-@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="./img/gallery/mobile-small/gallery-6.jpg"
              alt="game's picture"
              draggable="false"
            />
          </picture>

          <img
            class="gallery-opened-image"
            src="./img/gallery/mobile-opened/gallery-6.jpg"
            alt="opened image"
            srcset="
              ./img/gallery/mobile-opened/gallery-6.jpg     1x,
              ./img/gallery/mobile-opened/gallery-6-@2x.jpg 2x
            "
          />
        </li>

        <li class="swiper-slide gallery-list-item">
          <picture class="gallery-picture js-gallery-picture" >
            <source
              srcset="
                ./img/gallery/mobile-small/gallery-7.jpg     1x,
                ./img/gallery/mobile-small/gallery-7-@2x.jpg 2x
              "
              media="(max-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/desktop/gallery-7.jpg     1x,
                ./img/gallery/desktop/gallery-7-@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="./img/gallery/mobile-small/gallery-7.jpg"
              alt="game's picture"
              draggable="false"
            />
          </picture>

          <img
            class="gallery-opened-image"
            src="./img/gallery/mobile-opened/gallery-7.jpg"
            alt="opened image"
            srcset="
              ./img/gallery/mobile-opened/gallery-7.jpg     1x,
              ./img/gallery/mobile-opened/gallery-7-@2x.jpg 2x
            "
          />
        </li>

        <li class="swiper-slide gallery-list-item">
          <picture class="gallery-picture js-gallery-picture">
            <source
              srcset="
                ./img/gallery/mobile-small/gallery-8.jpg     1x,
                ./img/gallery/mobile-small/gallery-8-@2x.jpg 2x
              "
              media="(max-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/desktop/gallery-8.jpg     1x,
                ./img/gallery/desktop/gallery-8-@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="./img/gallery/mobile-small/gallery-8.jpg"
              alt="game's picture"
              draggable="false"
            />
          </picture>

          <img
            class="gallery-opened-image"
            src="./img/gallery/mobile-opened/gallery-8.jpg"
            alt="opened image"
            srcset="
              ./img/gallery/mobile-opened/gallery-8.jpg     1x,
              ./img/gallery/mobile-opened/gallery-8-@2x.jpg 2x
            "
          />
        </li>

        <li class="swiper-slide gallery-list-item">
          <picture class="gallery-picture js-gallery-picture">
            <source
              srcset="
                ./img/gallery/mobile-small/gallery-9.jpg     1x,
                ./img/gallery/mobile-small/gallery-9-@2x.jpg 2x
              "
              media="(max-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/desktop/gallery-9.jpg     1x,
                ./img/gallery/desktop/gallery-9-@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="./img/gallery/mobile-small/gallery-9.jpg"
              alt="game's picture"
              draggable="false"
            />
          </picture>

          <img
            class="gallery-opened-image"
            src="./img/gallery/mobile-opened/gallery-9.jpg"
            alt="opened image"
            srcset="
              ./img/gallery/mobile-opened/gallery-9.jpg     1x,
              ./img/gallery/mobile-opened/gallery-9-@2x.jpg 2x
            "
          />
        </li>

        <li class="swiper-slide gallery-list-item">
          <picture class="gallery-picture js-gallery-picture">
            <source
              srcset="
                ./img/gallery/mobile-small/gallery-10.jpg     1x,
                ./img/gallery/mobile-small/gallery-10-@2x.jpg 2x
              "
              media="(max-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/desktop/gallery-10.jpg     1x,
                ./img/gallery/desktop/gallery-10-@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="./img/gallery/mobile-small/gallery-10.jpg"
              alt="game's picture"
              draggable="false"
            />
          </picture>

          <img
            class="gallery-opened-image"
            src="./img/gallery/mobile-opened/gallery-10.jpg"
            alt="opened image"
            srcset="
              ./img/gallery/mobile-opened/gallery-10.jpg     1x,
              ./img/gallery/mobile-opened/gallery-10-@2x.jpg 2x
            "
          />
        </li>
      </ul>

      <div class="navigation js-gallery-btn">
        <button
          class="gallery-button-prev swiper-button-prev"
          type="button"
          aria-label="Preview image"
        >
          <svg width="20" height="40">
            <use href="/img/sprite.svg#icon-arrow-filled"></use>
          </svg>
        </button>
        <button
          class="gallery-button-next swiper-button-next"
          type="button"
          aria-label="Next image"
        >
          <svg width="20" height="40">
            <use href="/img/sprite.svg#icon-arrow-filled"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
