<section id="home" class="home-section section">
  <div class="home-container container">
    <div class="home-text-container">
      <h1 class="home-title">Grand Cafe Story - Puzzle Game</h1>
      <h2 class="home-subtitle">
        "Renovate, Decorate, and Solve Addictive Puzzles!"
      </h2>

      <a
        class="google-link hover"
        href="https://play.google.com/store/apps/details?id=swggameslab.cooking.cafe.match3.crazy.puzzle.kitchen"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="google-img" src="./img/google-btn.svg" alt="google icon" />
      </a>
    </div>

    <picture class="home-img">
      <source
        srcset="./img/home/home@1x.png 1x, ./img/home/home@2x.png 2x"
        media="(max-width: 1200px)"
      />
      <img
        class="home-img"
        src="./img/home/home@2x.png"
        width="370"
        height="311"
        alt="game's picture"
        draggable="false"
      />
    </picture>
  </div>
</section>
