  <div class="mob-menu js-mob-menu">
    <!-- Логотип і заголовок -->
    <div class="mob-logo-container">
      <a class="mob-logo-link" href="./">
        <img
          class="mob-logo-img"
          srcset="/img/header/logo@2x.png 2x"
          src="/img/header/logo.png"
          alt="logo"
          width="48"
          height="48"
        />
      </a>
      <span class="mob-logo-title">GrandCafe Story</span>
      <!-- Кнопка закриття -->
      <button class="close-btn js-close-btn" type="button">
        <svg class="burger-close-icon" width="31" height="32">
          <use href="/img/sprite.svg#icon-close_btn"></use>
        </svg>
      </button>
    </div>

    <!-- Навігація -->
    <nav>
      <ul class="mob-nav-list">
        <li class="mob-nav-item">
          <a class="mob-nav-link" href="#home">Home</a>
        </li>
        <li class="mob-nav-item">
          <a class="mob-nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="mob-nav-item">
          <a class="mob-nav-link" href="#about-us">About us</a>
        </li>
        <li class="mob-nav-item">
          <a class="mob-nav-link" href="#benefits">Benefits</a>
        </li>
         <li class="mob-nav-item">
          <a class="mob-nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="mob-nav-item">
          <a class="mob-nav-link" href="#faq">FAQ</a>
        </li>
      </ul>

      <!-- Кнопка Google Play -->
      <a
        class="google-btn"
        href="https://play.google.com/store/apps/details?id=swggameslab.cooking.cafe.match3.crazy.puzzle.kitchen"
        target="_blank"
      >
                <img class="google-img" src="./img/google-btn.svg" alt="google icon" />

      </a>
      </div>
    </nav>
  </div>