<section class="reviews">
  <h2>Reviews</h2>
  <div class="review">
    <p class="reviewer-name">CafeDreamer</p>
    <div class="speech-bubble">
      <img
        src="./img/reviews/ speech_bubble_right_desk.png"
        alt="Review-1"
        width="381"
        height="84"
      />
      <p class="review-text">
        "Beautifully designed puzzles and and enchanting story. I'm hooked!"
      </p>
    </div>
  </div>
  <div class="review">
    <p class="reviewer-name">PuzzleLover</p>
    <div class="speech-bubble">
      <img
        src="./img/reviews/ speech_bubble_left_desk.png"
        alt="Review-1"
        width="381"
        height="84"
      />
      <p class="review-text">
        "A delightful mix of match-3<br />
        and renovation. So much fun!"
      </p>
    </div>
  </div>
  <div class="review">
    <p class="reviewer-name">HomeDesigner</p>
    <div class="speech-bubble">
      <img
        src="./img/reviews/ speech_bubble_right_desk.png"
        alt="Review-1"
        width="381"
        height="84"
      />
      <p class="review-text">
        "Love decorating my cafe while solving<br />
        puzzles. Highly recommend!"
      </p>
    </div>
  </div>
  <div class="review">
    <p class="reviewer-name">StoryFanatic</p>
    <div class="speech-bubble">
      <img
        src="./img/reviews/ speech_bubble_left_desk.png"
        alt="Review-1"
        width="381"
        height="84"
      />
      <p class="review-text">
        "Charming characters and a storyline<br />
        that keeps me coming back."
      </p>
    </div>
  </div>
  <div class="review">
    <p class="reviewer-name">FoodieGamer</p>
    <div class="speech-bubble">
      <img
        src="./img/reviews/ speech_bubble_right_desk.png"
        alt="Review-1"
        width="381"
        height="84"
      />
      <p class="review-text">
        "Perfect balance of puzzles and cafe <br />
        design. Amazing game!"
      </p>
    </div>
  </div>
</section>
