<section class="section" id="reviews">
  <div class="container review-container">
    <h2 class="reviews-title title">Reviews</h2>
    <div class="reviews-background">
      <ul class="review-list">
        <li class="review-item">
          <div class="review-desk-cont">
            <p class="review-text">
              "Beautifully designed puzzles and an enchanting story. I’m
              hooked!"
            </p>
          </div>

          <p class="reviewer-name">CafeDreamer</p>
        </li>
        <li class="review-item">
          <div class="review-desk-even">
            <p class="review-text">
              "A delightful mix of match-3 and renovation. So much fun!"
            </p>
          </div>
          <p class="reviewer-name">PuzzleLover</p>
        </li>
        <li class="review-item">
          <div class="review-desk-cont">
            <p class="review-text">
              "Love decorating my cafe while solving puzzles. Highly recommend!"
            </p>
          </div>
          <p class="reviewer-name">HomeDesigner</p>
        </li>
        <li class="review-item">
          <div class="review-desk-even">
            <p class="review-text">
              "Charming characters and a storyline that keeps me coming back."
            </p>
          </div>
          <p class="reviewer-name">StoryFanatic</p>
        </li>
        <li class="review-item">
          <div class="review-desk-cont">
            <p class="review-text">
              "Perfect balance of puzzles and cafe design. Amazing game!"
            </p>
          </div>
          <p class="reviewer-name">FoodieGamer</p>
        </li>
      </ul>
    </div>
  </div>
</section>
