.benefits {
  text-align: center;
  @include media(desktop) {
    padding-inline: 107px;
  }
}

.benefits-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;

  @include media(desktop) {
    gap: 49px;
  }
}

.benefit-item {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.benefit-item img {
  height: 234px;

  @include media(desktop) {
    width: 296px;
  }
}

.benefit-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 1rem;
  width: 172px;
  height: 64px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @include media(desktop) {
    width: 173px;
    height: 56px;
  }
}

.card {
  perspective: 90000px;
  width: 280px;
  height: 232px;

  @include media(desktop) {
    width: 296px;
  }
}

/* Inner card that flips */
.card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.card.is-flipped .card-inner {
  transform: rotateY(180deg);
}

/* Flip animation */

.card:hover .card-inner {
  @include media(desktop) {
    transform: rotateY(180deg);
  }
}

.no-flip .card-inner {
  transform: none !important;
  cursor: auto;
}
@include media(to-desktop) {
  .no-flip {
    display: none;
  }
}

.benefit-item.no-flip img {
  width: 296px;
  height: 136.75px;
}

/* Front and back faces of the card */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
}

.card-front {
  box-shadow: 0 1px 2px 0 rgba(255, 250, 156, 0.4);
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #fffa9c;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: 50px;
  border: 1px solid #000;
  border-radius: 12px;
  box-shadow: 0 1px 2px 0 rgba(255, 250, 156, 0.4);
  font-weight: 400;
  line-height: 2;
}
