.faq-section.section {
  @include media(desktop) {
    padding-bottom: 23px;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(desktop) {
    margin-inline: auto;
    width: 766px;
    gap: 35px;
  }
}

.faq-question {
  height: 48px;
  border-radius: 12px;
  padding: 9px 12px;
  background: $_accent_bg_color;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  @include media(desktop) {
    height: 58px;
    font-size: 24px;
    padding-right: 32px;
  }
}

.faq-btn {
  border: none;
  background: transparent;
  padding: 0;
  display: flex;
  align-items: center;
}

.faq-icon-btn {
  @include media(desktop) {
    width: 40px;
    height: 40px;
  }
}

.faq-answer {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s 0s;
}

.open .faq-question {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.open .faq-answer {
  position: relative;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0s 0s;
  background-color: $_white;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 1.5;

  @include media(desktop) {
    background: #fffee8;
    padding: 18px 13px;
    font-size: 20px;
  }
}

.open .faq-icon-btn {
  transform: rotate(90deg);
}
