@import 'swiper/css';
@import 'swiper/css/navigation';

.gallery-container {
  padding-inline: 15px;

  @include media(desktop) {
    padding-inline: 63px;
  }
}

.gallery-swiper {
  height: 100%;

  @include media(desktop) {
    padding-inline: 56px;
  }
}

.gallery-list-item {
  max-width: 226px;

  @include media(to-desktop) {
    padding-inline: 32px;
  }

  @include media(desktop) {
    max-width: 440px;
  }
}

.gallery-picture img {
  width: 226px;
  height: 281px;
  cursor: pointer;

  @include media(desktop) {
    width: 440px;
    height: 439px;
    border-radius: 12px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.gallery-button-prev,
.gallery-button-next {
  border: none;
  background: transparent;
  padding: 0;
  position: absolute;
  z-index: 100;
  top: 59%;
  transform: translateY(-50%);
}

.gallery-button-prev {
  left: 0;
}

.gallery-button-next {
  right: 0;
}

.gallery-button-grey.gallery-button-prev {
  left: -5px;
}

.gallery-button-grey.gallery-button-next {
  right: -5px;
}

.gallery-button-grey svg,
.gallery-button-grey svg {
  fill: #adadad;
  stroke-width: 1px;
  stroke: #c1c1c1;
}

.gallery-button-next svg {
  transform: rotate(180deg);
}

@include media(desktop) {
  .gallery-button-prev svg,
  .gallery-button-next svg {
    width: 32px;
    height: 64px;
  }
}

.sl-wrapper {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
}

.sl-wrapper:focus-visible {
  outline: none;
}

.sl.wrapper > .sl-image {
  display: block;
  width: 270px !important;
  height: 281px;
}

.gallery-opened-image {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 280px;
  height: 281px;
}

.opened-active {
  display: block;
}
