body {
  overflow-x: hidden;
  font-optical-sizing: auto;
  font-style: normal;
  color: $_main_color;
  background: linear-gradient(
    37deg,
    $_main_bg_color 14.45%,
    $_accent_bg_color 24.35%,
    $_main_bg_color 52.82%,
    $_accent_bg_color 100%
  );
  font-size: 14px;
  font-weight: 400;
  height: 3545px;
  padding: 22px 0;

  @include media(desktop) {
    font-size: 20px;
    height: 3805px;
    padding: 60px 0;
  }
}

.container {
  max-width: 320px;
  padding-inline: 15px;
  margin: 0 auto;

  @include media(desktop) {
    max-width: 1200px;
    padding-inline: 119px;
  }
}

.section {
  padding: 20px 0;

  @include media(desktop) {
    padding: 50px 0;
  }
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;

  @include media(desktop) {
    font-size: 30px;
  }
}
