html {
  scroll-padding-top: 110px;
  scroll-behavior: smooth;
  @include media(desktop) {
    scroll-padding-top: 164px;
  }
}

body {
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  font-optical-sizing: auto;
  font-style: normal;
  color: $_main_color;
  font-size: 14px;
  font-weight: 400;

  @include media(desktop) {
    font-size: 20px;
  }
}

.background {
  max-width: 320px;
  padding-bottom: 22px;
  margin: 0 auto;

  background: linear-gradient(
    215deg,
    $_accent_bg_color 5%,
    rgba(167, 195, 255, 0.8) 13.4%,
    $_main_bg_color 82.41%
  );

  @include media(desktop) {
    max-width: 1200px;
    padding-bottom: 60px;

    background: url(/img/home-tnt.svg) no-repeat top 270px left 119px / 320px
        321px,
      url(/img/home-candy.svg) no-repeat top 31px right 359px / 309px 315px,
      url(/img/home-iceCream.svg) no-repeat top 406px right -25px / 307px 324px,
      url(/img/reviews-woman.svg) no-repeat top 2530px left -10px / 400px 679.66px,
      linear-gradient(
        15deg,
        $_main_bg_color 16.45%,
        $_accent_bg_color 24.35%,
        $_main_bg_color 52.82%,
        $_accent_bg_color 89%
      );
  }
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;

  @include media(desktop) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.container {
  max-width: 100%;
  padding-inline: 20px;

  @include media(desktop) {
    padding-inline: 119px;
  }
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 30px;
    margin-bottom: 50px;
  }
}

.hover-box:hover {
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.7);
}

.hover-link:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.terms-links-list a:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
