html {
  scroll-behavior: smooth;
}
header {
  top: 0;
  position: fixed;
  z-index: 1000;
  height: 60px;
  width: 320px;
  @include media(desktop) {
    width: 1200px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  gap: 26px;
  justify-content: space-between;
  padding-top: 22px;
  @include media(desktop) {
    padding-top: 60px;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo-title {
  font-weight: 800;
  font-size: 20px;
  font-family: 'Baloo Tammudu 2', sans-serif;
  font-size: 16px;
  @include media(desktop) {
    font-size: 20px;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;

  @include media(tablet) {
    justify-content: flex-start;
  }

  @include media(desktop) {
    justify-content: flex-end;
  }
}
.nav-menu {
  display: none;
  @include media(desktop) {
    display: flex;
  }
}
.nav-list li a {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
}

.nav-list li a:hover {
}

.burger-menu {
  background-color: transparent;
  border: none;
  @include media(desktop) {
    display: none;
  }
}
.buger-icon {
  stroke: #000000;
}
