.home-section {
  padding-top: 108px;

  @include media(desktop) {
    padding-top: 165px;
  }
}

.home-container {
  padding-inline: 20.5px;

  @include media(desktop) {
    padding-inline: 119px;
    display: flex;
    justify-content: space-between;
  }
}

.home-text-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.home-title {
  font-family: 'Baloo Tammudu 2', sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 1.33333;

  @include media(desktop) {
    font-size: 40px;
  }
}

.home-subtitle {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 20px;
    margin-bottom: 40.5px;
  }
}

.google-link {
  width: 173px;
  height: 49px;
  background-color: $_main_color;
  border-radius: 6px;
}

.google-img:active {
  content: url('/img/google-clicked.svg');
}

.home-img {
  display: none;

  @include media(desktop) {
    display: block;
    border: 1px solid #fffa9c;
    border-radius: 12px;
    width: 370px;
    height: 311px;
  }
}
