.privacy-terms {
  background: linear-gradient(
    225deg,
    #fffa9c 0%,
    #a7c3ff 36.91%,
    #fffa9c 60%,
    #a7c3ff 100%
  );
  padding-top: 0;
  padding-bottom: 24px;
  position: relative;

  @include media(desktop) {
    padding-bottom: 40px;
    background: linear-gradient(
      203deg,
      $_accent_bg_color 7%,
      $_main_bg_color 47.47%,
      $_accent_bg_color 71%,
      $_main_bg_color 102%
    );
  }
}

.privacy-terms-header {
  @include media(to-desktop) {
    position: fixed;
    top: 0;
    width: 320px;
    height: 56px;
    backdrop-filter: blur(100px);
    z-index: 10;
    padding-top: 24px;
    padding-inline: 20px;
  }

  @include media(desktop) {
    position: absolute;
    top: 109px;
    left: 111px;
    z-index: 10;
    transition: position 0.3s ease, box-shadow 0.3s ease;
  }
}

@include media(desktop) {
  .sticky {
    position: fixed;
    top: 0;
    left: calc(50% - 600px);
    height: 80px;
    backdrop-filter: blur(100px);
  }

  .sticky > .back-link {
    padding-left: 111px;
    padding-top: 24px;
  }
}

.privacy-terms-section.section {
  padding-top: 68px;

  @include media(desktop) {
    padding-top: 105px;
  }
}

.privacy-terms-container {
  padding-inline: 20px;

  @include media(desktop) {
    padding-inline: 111px;
  }
}

.privacy-terms .back-link {
  display: flex;
  align-items: center;
  line-height: 2;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-size: 14px;
}

.privacy-terms .back-link:active {
  background: linear-gradient(180deg, #000 35.98%, #fff 74.26%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.privacy-terms .back-link span:hover {
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.privacy-terms .back-btn {
  margin-right: 11px;
}

.privacy-terms-text-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 1.5;

  @include media(desktop) {
    gap: 54px;
    font-size: 20px;
    line-height: 1.4;
  }
}

.terms-links-list {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  list-style-type: disc;
  padding-left: 14px;
}

.privacy-terms-section li::marker {
  font-size: 0.6em;
}

.privacy-list {
  text-decoration-skip-ink: none;
  list-style-type: disc;
  padding-left: 14px;
}

.privacy-date {
  @include media(to-desktop) {
    display: block;
  }
}
