.reviews {
  text-align: center;
  padding-top: 100px;
  position: relative;
  padding-bottom: 50px;
  z-index: 1;
  overflow: visible;
}
.reviews-container {
  width: 666px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin-left: auto;
  z-index: 2;
}

.reviews h2 {
  font-size: 30px;
  margin-bottom: 50px;
  line-height: 1.2;
  font-weight: 500;
}

.review {
  display: flex;
  gap: 16px;
  align-items: end;
}

.reviewer-name {
  font-size: 18px;
  font-weight: 400;
}

.speech-bubble {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 381px;
  height: 84px;
}

.speech-bubble img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.speech-bubble p {
  position: relative;
  z-index: 2;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding: 0 1rem;
}

.character-image {
  position: absolute; /* Абсолютне позиціонування відносно секції .reviews */
  bottom: -30px; /* Зміщення вниз, щоб вийти за рамки секції */
  left: 0; /* Зміщення ліворуч, щоб вийти за межі секції */
  z-index: 0; /* Відправляємо зображення назад (опціонально) */
  pointer-events: none; /* Щоб зображення не впливало на кліки */
}

@include media(to-desktop) {
  .hidden {
    display: none;
  }
}
