.reviews-container {
  width: 666px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  margin-left: auto;
}

.reviews {
  text-align: center;
  padding: 2rem 1rem;
}

.reviews h2 {
   font-size: 30px;
  margin-bottom: 50px;
  line-height: 1.2;
  font-weight: 500;
}

.review {
 display: flex;
  gap: 16px;
  align-items: end;}

.reviewer-name {
  font-size: 18px;
  font-weight: 400;
}

.speech-bubble {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 381px;
  height: 84px;
}

.speech-bubble img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.speech-bubble p {
  position: relative;
  z-index: 2; /* Places text above the image */
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding: 0 1rem; /* Adds some padding to ensure text doesn't touch edges */
}
